*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #3498db;
    --bg-primary-color:#5467cd;
    --text-color: #333;
}

header{
    background-color: var(--bg-primary-color);
}

.navbar{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
}

nav ul{
    display:grid;
    grid-template-columns:repeat(6, 1fr);
    gap: 1.5rem;
    padding: 0 2rem 0 2rem;
}

nav ul li{
    list-style: none;
    text-decoration: none;


}


/* =============== home-info styling ================= */
.home-info{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 4rem;
    gap: 6rem;
}

.home-right{
    grid-column: 1;
    /* gap: 2rem; */
    padding: 2rem;
}

.home-right h1 span{
    color: var(--primary-color);
    
}


/* ============== Media query ======== */
@media (max-width: 768px) {
    .navbar {
        grid-template-columns: repeat(1, 1fr);


    }

    nav ul{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width: 468px){
    .navbar {
        grid-template-columns: repeat(1, 1fr);


    }
    nav ul{
        grid-template-columns: repeat(2, 1fr);
    }
}